
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# ._ files
._*

invest/data/STOCK/*
invest/data/ibkr/*

cpp/*

# Office temporary files
~$*.xlsx
*.tmp